.about-container {
    padding: 150px;
    background-color: #d0c9c9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  h2 {
    color: #333;
    margin-top: 10%;margin-left: 100%;
    margin-right:10%; 
  }
  
  p {
    font-size: 19px;
    line-height: 1.5;
    color: #555;
  }
  